<template name="ingredientsListMainView">
  <!-- Page heading -->
  {{> pageHeading title='Ingredients List' category='Other pages' }}

  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      {{> render component='ingredientsList'}}
    </div>
  </div>

  <!-- ADD INGREDIENT-->
  <div class="modal fade" id="addIngredientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> render component = 'submitIngredient'}}
  </div>
  <!-- /ADD INGREDIENT -->
</template>