<template name="workersList">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Joined On</th>
        <th>Designation</th>
        <th>Wage ($ per hour)</th>
        <th>Work Profile</th>
      </tr>
    </thead>
   <tbody>
      {{#each activeWorkers}}
        {{> worker}}
      {{/each}}
    </tbody>
  </table>
<!--   <div class="col-md-6 list-group">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#activeWorkers" aria-expanded="true" aria-controls="activeWorkers">
              Active Workers List
            </a>
          </h4>
        </div>
        <div id="activeWorkers" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            {{#each activeWorkers}}
              {{> worker}}
            {{/each}}
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#allWorkers" aria-expanded="false" aria-controls="allWorkers">
              All Workers List
            </a>
          </h4>
        </div>
        <div id="allWorkers" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            {{#each allWorkers}}
              {{> worker}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 list-group">
  </div> -->
</template>