<template name="menuItem">
  <a href="/menuItem/{{_id}}">
    <div class="col-md-1 menu-item">
      <div class="menu-image">
      {{#if image}}
        <img src="{{image}}" class="img-thumbnail img-responsive menu-item-image">
      {{else}}
        <img src="/images/farmer's.jpg" class="img-thumbnail img-responsive menu-item-image" alt="Menu Item Image">
      {{/if}}
      </div>
      <div class="row">
        <div class="col-md-8">
           <p class="menu-name">{{name}}</p>
            <p class="tag-line">{{tag}}</p>
        </div>
        <div class="col-md-4">
          <button class="btn btn-xs removeMenuItem" data-id="{{_id}}">Remove</button>
        </div>
      </div>
    </div>
  </a>
</template>