<template name="jobItemDetailedView">
  <div class="wrapper wrapper-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title hidden-print">
              <h5>Job Detailed </h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                  <li><a href="#">Config option 1</a></li>
                  <li><a href="#">Config option 2</a></li>
                </ul>
                <a class="close-link">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            {{> render component='jobItemDetail'}}
          </div>
        </div>
      </div>
    </div>
  </div> 
</template>