<template name="teamMemberJobList">
  <div class="table-responsive">
    <table class="table">
      <td>
        {{#if shift}}
        <table class="table table-bordered">
          <thead>
            <tr class="center-text">
              <th colspan="2">
                <a href="" class="shift-profile" data-toggle="modal">{{timeFormat shift.startTime}} - {{timeFormat shift.endTime}} Shift</a>
                <!-- <a href="#shiftProfile" data-toggle="modal">Edit</a> -->
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="shift-div">
              <td class="time-panel">
                {{#each timer120}}
                <div class="time-divider-hour">{{this}}-</div>
                {{/each}}
              </td>
              <td class="job-panel">
                <div class="shift shiftedJobs" data-id="{{_id}}">
                  {{#if jobs}}
                    {{#each jobs}}
                      {{> jobItem}}
                    {{/each}}
                  {{else}}
                    Drag Jobs here
                  {{/if}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        {{else}}
          <div class="center-pad20"><a href="#submitShiftModal" data-toggle="modal">Click here to create Shifts</a></div>
        {{/if}}
      </td>
    </table>
  </div> 
</template>