<template name="menuItemEditMainView">
  {{> render component="editMenuItem"}}

  <!-- JOB ITEMS LIST-->
  <div class="modal fade" id="jobItemListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> render component='showJobItemsList' name="editMenu"}}
  </div>
  <!-- /JOB ITEMS LIST -->

   <!-- ADD INGREDIENT-->
  <div class="modal fade" id="addIngredientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> render component = 'submitIngredient'}}
  </div>
  <!-- /ADD INGREDIENT -->
</template>