<template name="menuItemEditMainView">
  <!-- Page heading -->
  {{> render component="pageHeading" title='Edit Menu' category='Menus' name="menuedit"}}

  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          {{> render component="editMenuItem"}}
        </div>
      </div>
    </div>
  </div>

  <!-- JOB ITEMS LIST-->
  <div class="modal fade" id="jobItemListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> render component='showJobItemsList' name="editMenu"}}
  </div>
  <!-- /JOB ITEMS LIST -->

   <!-- ADD INGREDIENT-->
  <div class="modal fade" id="addIngredientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> render component = 'submitIngredient'}}
  </div>
  <!-- /ADD INGREDIENT -->
</template>