<template name="menuItemsListMainView">
  <!-- Page heading -->
  {{> render component="pageHeading" title="Menus List" category='Menus' name="menulist"}}

  <div class="wrapper wrapper-content animated">
    {{> render component="menuFilters"}}
    <div class="row">
      <div class="col-lg-12">
        {{> render component="menuItemsList"}}
      </div>
    </div>
  </div>

  <!-- ADD CATEGORY -->
  <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> render component = 'addNewCategory'}}
  </div>
  <!-- /ADD CATEGORY  -->
</template>