<template name="adminNav">
	<div class="col-md-12">
		<button type="button" class="btn btn-warning btn-sm" id="addWorker" data-toggle="modal">Add Worker</button> 
		<button type="button" class="btn btn-warning btn-sm" id="addWorkerType" data-toggle="modal">Add worker type</button>
		<button type="button" class="btn btn-warning btn-sm" id="addJobType" data-toggle="modal">Add job type</button>
    <button type="button" class="btn btn-warning btn-sm" id="addMenuItems" data-toggle="modal">Add menu item</button>
    <button type="button" class="btn btn-warning btn-sm" id="addIngredients" data-toggle="modal">Add ingredients</button>
    <button type="button" class="btn btn-warning btn-sm" id="addJobItems" data-toggle="modal">Add job item</button>
	</div>
</template>