<template name="adminNav">
	<div class="col-md-4">
    <div class="list-group">
      <a href="#submitWorkerModal" class="list-group-item" data-toggle="modal">Add Worker</a>
      <a href="#addWorkerTypeModal" class="list-group-item" data-toggle="modal">Add worker type</a>
      <a href="#addJobTypeModal" class="list-group-item" data-toggle="modal">Add job type</a>
      <a href="#" id="addMenuItems" class="list-group-item">Add menu item</a>
      <a href="#addIngredientModal" class="list-group-item" data-toggle="modal">Add ingredients</a>
      <a href="#" id="addJobItems" class="list-group-item">Add job item</a>
    </div>
	</div>
</template>