<template name="adminNav">
	<div class="col-md-4">
    <div class="list-group">
      <a href="#" id="addWorker" class="list-group-item" data-toggle="modal">Add Worker</a>
      <a href="#" id="addWorkerType" class="list-group-item" data-toggle="modal">Add worker type</a>
      <a href="#" id="addJobType" class="list-group-item" data-toggle="modal">Add job type</a>
      <a href="#" id="addMenuItems" class="list-group-item">Add menu item</a>
      <a href="#" id="addIngredients" class="list-group-item" data-toggle="modal">Add ingredients</a>
      <a href="#" id="addJobItems" class="list-group-item">Add job item</a>
      <a href="#" id="addUnitConversion" class="list-group-item">Add Unit Conversions</a>
    </div>
	</div>
</template>