<template name="nav">
  <ul class="nav navbar-nav">
    <!-- <li><a href="" id="daily">Daily View</a></li> -->
    <!-- <li><a href="" id="week">Weekly View</a></li> -->
    <!-- <li><a href="/workers" id="workerList">Workers List</a></li> -->
    <!-- <li><a href="/menuItems" id="menu">Menu Master List</a></li> -->
    <!-- <li><a href="" id="menuSalesCaliberation">Menu Sales Caliberation</a></li> -->
    <!-- <li><a href="/jobItemsList" id="jobItemsList">Job Master List</a></li> -->
    {{#if currentUser}}
      {{#if isPermitted}}
        <li><a href="/menuItems" >Menu</a></li>
        <li><a href="/jobItems">Jobs</a></li>
        <li><a href="/ingredients" id="ingredients">Ingredients</a></li>
      {{/if}}
      {{#if isAdmin}}
      <li><a href="" id="adminPanel">Admin</a></li>
      {{/if}}
    {{/if}}
    <!-- <li><a href="/menus">Menus Master</a></li> -->
    <!-- <li><a href="#" id="jobsPanel">Jobs</a></li> -->
    <!-- <li><a href="#">{{> atForm}}</a></li> -->
    {{#if currentUser}}
    <li>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        {{currentUser.username}}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#" id="signOutButton">Sign Out</a></li>
      </ul>
    </li>
    {{else}}
    <li><a href="" id="signInButton">Sign In</a></li>
    {{/if}}
  </ul>

</template>