<template name="nav">
  <div class="row">
    <div class="right">
      <a href="/" class="btn btn-primary">Daily View</a>
      <a href="" class="btn btn-primary" id="week">Weekly View</a>
      <a href="" class="btn btn-primary" id="adminPanel">Admin</a>
      <a href="" class="btn btn-primary" id="menu">Menu Items Index</a>
      <a href="/workers" class="btn btn-primary" id="workerList">Workers List</a>
      <a href="" class="btn btn-primary" id="menuSalesCaliberation">Menu Sales Caliberation</a>
      <a href="" class="btn btn-primary" id="jobItemsList">Prep Items Master List</a>
      <a href="" class="btn btn-primary" id="inventory">Inventory</a>
      <a href="" class="btn btn-primary" id="todaysMenu">Today's Menu</a>
      <br/><br>
    </div>
  </div>
</template>