<template name="nav">
  <ul class="nav navbar-nav">
    <!-- <li><a href="" id="daily">Daily View</a></li> -->
    <!-- <li><a href="" id="week">Weekly View</a></li> -->
    <!-- <li><a href="/workers" id="workerList">Workers List</a></li> -->
    <!-- <li><a href="/menuItems" id="menu">Menu Master List</a></li> -->
    <!-- <li><a href="" id="menuSalesCaliberation">Menu Sales Caliberation</a></li> -->
    <!-- <li><a href="/jobItemsList" id="jobItemsList">Job Master List</a></li> -->
    <li><a href="/ingredients" id="ingreditents">Ingreditents</a></li>
    <!-- <li><a href="" id="todaysMenu">Today's Menu</a></li> -->
    <li><a href="" id="adminPanel">Admin</a></li>
  </ul>
</template>