/*.editable-input {
  vertical-align: top;
  display: inline !important;
  width: auto;
  white-space: normal;
  zoom: 1;
}
*/

.editableWidth {
  width: 100% !important;
}

.editableform .control-group {
  width: auto;
  white-space: nowrap;
}

@media (min-width: 1200px) {
  .col-lg-13 {
    float: left;
  }
  .col-lg-13 {
    width: 13.99999999%;
  }
  .editable-input {
    vertical-align: top;
    display: -webkit-inline-box !important;
    width: auto;
    white-space: normal;
    zoom: 1;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1800px) {
  .col-lg-13 .editableform .control-group {
    width: 79%;
    white-space: pre !important;
  }
}

@media screen and (min-width: 901px) and (max-width: 1120px) {
  .profile-content .editableform .control-group {
    width: 99%;
    white-space: pre !important;
  }
}

@media (max-width: 768px) {
  .combodate > select {
    display: inline !important;
  }
}

.page-center {
  top: 170px;
}

.clockIn, .clockOut {
  cursor: pointer;
}

.flyout-container .skin-setttings {
  padding-bottom: 10px !important;
}

.flyout-container .theme-config-box .removeAssignedJob {
  position: relative !important;
  top: 2px;
  bottom: 2px;
  margin: auto;
  width: 98%;
  left: -4px;
  background-color: #f64747;
}

input {
  color: #555 !important;
}

