body{
  background: #F9FEFF;
  padding: 30px;
}

.left {
  /*background-color: #B2F0FF;*/
}

.center {
  /*background-color: #bbb;*/
}

.right {
  /*background-color: #FFCCCC;*/
  float: left;
}

.main-header-title {
  margin-bottom: 50px;
  text-align: center;
}

.settings-buttons {
  margin-bottom: 20px;
}

.itemlist {
  min-height: 200px;
  background-color: #bbb;
  padding: 10px 10px;
}

.item {
  color: #fff;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 5px;
}

.jobitem {
  background-color: #2424B2;
  
}

.shift {
  min-height: 100px;
}

.workeritem {
  background-color: #CC7A00;
}