body{
  background: #F9FEFF;
  padding: 30px;
}

.jobitem > a {
  color: #fff;
  text-decoration: none;
}

.left {
  /*background-color: #B2F0FF;*/
}

.center {
  /*background-color: #bbb;*/
}

.right {
  /*background-color: #FFCCCC;*/
  float: left;
}

.main-header-title {
  margin-bottom: 50px;
  text-align: center;
}

.settings-buttons {
  margin-bottom: 20px;
}

.itemlist {
  min-height: 200px;
  background-color: #ddd;
  padding: 10px 10px;
}

.item {
  color: #fff;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 5px;
}

.jobitem {
  background-color: #3E5AAF;
  
}

.jobsList, .workersList {
  min-height: 50px;
}

.shift {
  min-height: 100px;
  color: #bbb;
}

.workeritem {
  background-color: #CC7A00;
}

.workers {
  border-bottom: 1px dashed #aaa;
  min-height: 40px;
  /*background-color: #CCF5FF;*/
}

.jobs {
  /*background-color: #FFF5E6;*/
}