body{
  background: #F9FEFF;
  padding: 30px;
}

a, a:hover {
  text-decoration: none;
}

.jobitem > a, .workeritem > a {
  color: #fff;
}

.left {
  /*background-color: #B2F0FF;*/
}

.text-align-left {
  text-align: left !important;
}

.center {
  /*background-color: #bbb;*/
}

.right {
  /*background-color: #FFCCCC;*/
  float: left;
}

.main-header-title {
  margin-bottom: 50px;
  text-align: center;
}

.settings-buttons {
  margin-bottom: 20px;
}

.itemlist {
  min-height: 200px;
  background-color: #ddd;
  padding: 10px 10px;
}

.item {
  color: #fff;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 5px;
}

.jobitem {
  background-color: #3E5AAF;
  text-align: center;
}

#jobsList, .workersList {
  min-height: 50px;
}

.shift {
  min-height: 100px;
  color: #bbb;
}

.time-panel {
  width: 10px;
  border-right: none !important;
  /*background-color: #aaa;*/

}

.time-divider {
  height: 10px;
  color: #aaa;
  font-size: 12px; 
}

.job-panel {
  border-left: none !important;
}

.shiftedWorkers {
  color: #aaa;
  max-height: 30px;
  text-align: center;
}

.workeritem {
  background-color: #CC7A00;
  cursor: pointer;
}

.workeritem:hover {
  /*background-color: #fff;*/
}

.workers {
  border-bottom: 1px dashed #aaa;
  min-height: 40px;
  /*background-color: #CCF5FF;*/
}

.jobs {
  /*background-color: #FFF5E6;*/
}

.delete-worker {
  float: right;
  width: 17px;
  height: 17px;
}

.center-text {
  text-align: center;
}

.draft {
  background-color: #3E5AAF;
}

.assigned {
  background-color: #3E5AAF;
}

.started {
  background-color: #4DB870;
}

.finished {
  background-color: #CCD6CC;
  color: #3D403D;
}


/*WEEKELY VIEW*/
.comb-div {
  float: left;
  width: 100px;
  padding: 10px;
  font-size: 12px;
}

.weekly-info-tag {
  float: left;
}

.shift-workers {
  margin-top: 10px;
}

.new {
  height: 200px;
}
/*WEEKELY VIEW*/

.set-job-status {
  position: relative;
  float: right;
  width: 20px;
  height: 20px;
  background-color: #fff;
}

.center-pad20 {
  text-align: center;
  padding: 50px;
}