<template name="home">
  <div class="wrapper wrapper-content">
    <div class="container">
      <hr>
      <div class="jumbotron">
        <h1>Welcome to Hero Chef.</h1>
        <p>
          Thanks for coming {{name}}. Kitchen's are complicated workplaces. Hero Chef aims to make
          running a busy kitchen easy. Taking a lot of the manual tasks and making them quick, easy and
          accurate.
        </p>
        <p>
          We'll be developing this software over the coming months to help with things like ordering, knowing
          how much to prep, rostering and much more.
        </p>
        <p>All ideas are welcome! -Tom</p>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="widget style1 red-bg">
            <div class="row">
              <div class="col-xs-4 text-center">
                <i class="fa fa-cutlery fa-5x"></i>
              </div>
              <div class="col-xs-8 text-right">
                <span> Menu Items </span>
                <h2 class="font-bold">{{menusCount}}</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="widget style1 navy-bg">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-spoon fa-5x"></i>
              </div>
              <div class="col-xs-8 text-right">
                <span> Jobs </span>
                <h2 class="font-bold">{{jobsCount}}</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="widget style1 lazur-bg">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-bars fa-5x"></i>
              </div>
              <div class="col-xs-8 text-right">
                <span> Ingredients </span>
                <h2 class="font-bold">{{ingCount}}</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="widget style1 yellow-bg">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-music fa-5x"></i>
              </div>
              <div class="col-xs-8 text-right">
                <span> Something else cool </span>
                <h2 class="font-bold">$12</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div>
      <strong>Copyright</strong> Hero Chef &copy; 2014-2015
    </div>
  </div>
</template>