<template name="home">
  <div class="wrapper wrapper-content">
    <div class="container">
      <hr>
      <div class="jumbotron">
        <h1>Welcome to Hero Chef.</h1>
        <p>
          Thanks for coming {{#if  currentUser}} {{name}} {{/if}}. Kitchen's are complicated workplaces. Hero Chef aims to make
          running a busy kitchen easy. Taking a lot of the manual tasks and making them quick, easy and
          accurate.
        </p>
        <p>
          We'll be developing this software over the coming months to help with things like ordering, knowing
          how much to prep, rostering and much more.
        </p>
        <p>All ideas are welcome! -Tom</p>
        {{#if currentUser}}
        {{else}}
          <a href="/signIn" class="btn btn-primary btn-rounded">Sign In</a> Or 
          <a href="/register" class="btn btn-primary btn-rounded">Register</a>
        {{/if}}
      </div>
      {{#if currentUser}}
        {{> render component='homeCountTags'}}
      {{/if}}
    </div>
  </div>

  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Headings</h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-wrench"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <li><a href="#">Config option 1</a></li>
          <li><a href="#">Config option 2</a></li>
        </ul>
        <a class="close-link">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
    <div class="ibox-content">
      <h1>Heading 1
        <small>Sub-heading</small>
      </h1>
      <h2>Heading 2
        <small>Sub-heading</small>
      </h2>
      <h3>Heading 3
        <small>Sub-heading</small>
      </h3>
      <h4>Heading 4
        <small>Sub-heading</small>
      </h4>
      <h5>Heading 5
        <small>Sub-heading</small>
      </h5>
      <h6>Heading 6
        <small>Sub-heading</small>
      </h6>
    </div>
  </div>

  <div class="footer">
    <div>
      <strong>Copyright</strong> Hero Chef &copy; 2014-2015
    </div>
  </div>
</template>