<template name="ingredientsListView">
  <div class="row center-page-title">
    Ingredients
    <a class="btn btn-xs" data-toggle="modal" href="#addIngredientModal">+</a>
  </div>
  <div class="row">
    <div class="col-xs-10 col-sm-10">
      {{> render component = 'ingredientsList'}}
    </div>
  </div> 

  <!-- ADD INGREDIENT-->
  <div class="modal fade" id="addIngredientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> render component = 'submitIngredient'}}
  </div>
  <!-- /ADD INGREDIENT -->

   <!-- EDIT INGREDIENT-->
  <div class="modal fade" id="editIngredientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> render component = 'editIngredientItem'}}
  </div>
  <!-- /EDIT INGREDIENT -->
</template>