<template name="mainLayout">

  <!-- Wrapper-->
  <div id="wrapper">

    <!-- Navigation -->
    {{#if currentUser}}
      {{> render component="navigation" }}
    {{/if}}
    <!-- Page wraper -->
    <div id="page-wrapper" class="gray-bg">

      <!-- Page wrapper -->
      {{> render component="topNavbar" }}

      <!-- Main view  -->
      {{> yield}}

      <!-- Footer -->
      {{> footer }}

    </div>
    <!-- End page wrapper-->

    <!-- Right Sidebar -->
    {{> render component="rightSidebar" }}
  </div>
  <!-- End wrapper-->

</template>