<template name="workerProfile">
   <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">{{worker.name}}'s Profile</h4>
        </div>
        <form class="form-horizontal" role="form" data-id="{{worker._id}}">
          <div class="modal-body">
            <div class="form-group">
              <label class="col-sm-4 control-label">Name</label>
              <div class="col-sm-6">
                <input type="text" value="{{worker.name}}" class="form-control" name="name" placeholder="Name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Type</label>
              <div class="col-sm-6">
                <div class="dropdown">
                  <select name="type">
                    <option selected="selected">{{worker.type}}</option>
                    <option value="chef">Chef</option>
                    <option value="waiter">Waiter</option>
                  </select>
                 <!--  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
                    Type
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Chef</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Waiter</a></li>
                  </ul> -->
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Hourly Wage</label>
              <div class="col-sm-6">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" value="{{worker.hourlyWage}}" name="wage" placeholder="Wage">
                  <span class="input-group-addon">.00</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Work Limit</label>
              <div class="col-sm-6">
                <div class="input-group">
                  <input type="text" class="form-control" value="{{worker.workLimit}}" name="hours" placeholder="Working hours per day">
                  <span class="input-group-addon">Hours</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Shift schedule</label>
              <div class="col-sm-6">
                <table class="table">
                  <tr>
                    <th>Date</th>
                    <th>Shift</th>
                    <th>Actions</th>
                  </tr>
                  <tr>
                    <td>2014/12/31</td>
                    <td>08.00-17.00</td>
                    <td><a href="#">Add Holiday</a></td>
                  </tr>
                  <tr>
                    <td>2014/12/31</td>
                    <td>Not assigned</td>
                    <td><a href="#">Add Holiday</a></td>
                  </tr>
                  <tr>
                    <td>2014/12/31</td>
                    <td>On holiday</td>
                    <td><a href="#">Remove</a></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger deleteWorker" data-id="{{worker._id}}">Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
</template>