<template name="shiftsList">
  <div class="table-responsive">
    <table class="table">
      {{#if shifts}}
      {{#each shifts}}
        <td>
          <table class="table table-bordered">
            <thead>
              <tr class="center-text">
                <th colspan="2">
                  <a href="" class="shift-profile" data-toggle="modal">{{startTime}} - {{endTime}} Shift</a>
                  <!-- <a href="#shiftProfile" data-toggle="modal">Edit</a> -->
                </th>
              </tr>
              <tr>
                <th colspan="2"><div class="shiftedWorkers" data-id="{{_id}}">
                  {{#if workerDetail}}
                    {{> worker workerDetail}}
                  {{else}}
                    Drag a worker to assign
                  {{/if}}
                </div></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="time-panel">
                  {{#each timer}}
                  <div class="time-divider">{{this}}</div>
                  <div class="time-divider">-</div>
                  <div class="time-divider">-</div>
                  {{/each}}
                </td>
                <td class="job-panel">
                  <div class="shift shiftedJobs" data-id="{{_id}}">
                    {{#if jobs}}
                      {{#each jobs}}
                        {{> jobItem}}
                      {{/each}}
                    {{else}}
                      Drag Jobs here
                    {{/if}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      {{/each}}
      {{else}}
      <div class="center-pad20"><a href="#submitShiftModal" data-toggle="modal">Click here to create Shifts</a></div>
      {{/if}}
    </table>
  </div>
</template>