<template name="shiftsList">
  <div class="table-responsive">
    <table class="table">
      {{#if shifts}}
      {{#each shifts}}
        <td>
          <table class="table table-bordered">
            <thead>
              <tr class="center-text">
                <th colspan="2">
                  <a href="" class="shift-profile" data-toggle="modal">{{timeFormat startTime}} - {{timeFormat endTime}} Shift</a>
                  <!-- <a href="#shiftProfile" data-toggle="modal">Edit</a> -->
                </th>
              </tr>
              <tr>
                <th colspan="2">
                  <div class="shiftedWorkers dropdown">
                    <select name="workers" class="shiftAssign" data-id="{{_id}}">
                      {{#if assignedWorker}}
                      <option selected="selected" value="{{assignedWorker._id}}">{{assignedWorker.name}}</option>
                      {{else}}
                      <option selected="selected">Select a worker to assign</option>  
                      {{/if}}
                      {{#each workers}}
                      <option value="{{_id}}">{{name}}</option>  
                      {{/each}}
                    </select>
                    {{#if assignedWorker}}
                    <img class="removeAssignedShift" src="/images/cancel.png" height="15px" width="15px">
                    {{/if}}
                  </div>
                </th>
              </tr>
            </thead>

            <tbody>
              <tr class="shift-div">
                <td class="time-panel">
                  {{#each timer120}}
                  <div class="time-divider-hour">{{this}}- 
                   
                    <!-- <div class="time-divider">-</div> -->
                  </div>
                  {{/each}}
                </td>
                <td class="job-panel">
                  <div class="shift shiftedJobs" data-id="{{_id}}">
                    {{#if jobs}}
                      {{#each jobs}}
                        {{> jobItem}}
                      {{/each}}
                    {{else}}
                      Drag Jobs here
                    {{/if}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      {{/each}}
      {{else}}
      <div class="center-pad20"><a href="#submitShiftModal" data-toggle="modal">Click here to create Shifts</a></div>
      {{/if}}
    </table>
  </div>
</template>