<template name="shiftItem">
  <thead>
    <tr>
      {{#each shifts}}
        <th class="center-text">
          {{startTime}} - {{endTime}} Shift
          <div class="shiftedWorkers" data-id="{{_id}}">
            {{#if workerDetail}}
              {{> worker workerDetail}}
            {{else}}
              Drag a worker to assign
            {{/if}}
          </div>
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each shifts}}
      <td>
        <div class="shift shiftedJobs" data-id="{{_id}}">
          {{#if jobs}}
            {{#each jobs}}
              {{> jobItem}}
            {{/each}}
          {{else}}
            Drag Jobs here
          {{/if}}
        </div>
      </td>
      {{/each}}
    </tr>
  </tbody>
</template>