<template name="menuStep2Submit">
  <form>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <h3>{{item.name}}</h3>
          <p>{{item.tag}}</p>
        </div>
        <div class="form-group">
          <label>Instructions</label>
          <textarea class="form-control" name="instructions" rows="3" value="{{item.instructions}}"></textarea>
        </div>
        <div class="form-group">
          <label>
            Prep items used
            <button class="btn btn-xs" id="addPrepItem">Select Preps</button>
            <button class="btn btn-xs" id="addPrepItem">Add New Prep</button>
          </label>
          <div>
            <table class="table table-hover thumbnail">
              <thead>
                <tr>
                  <th>Code</th>
                  <th>Desc</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>qe</td>
                  <td>qwe</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="form-group">
          <label>
            Ingredients used
            <button class="btn btn-xs" id="showIngredientsList">Select Ingredients</button>
            <button class="btn btn-xs" id="addNewIngredient">Add New Ingredient</button>
          </label>
          <div>
            <table class="table table-hover thumbnail">
              <thead>
                <tr>
                  <th>Code</th>
                  <th>Description</th>
                  <th>Quantity</th>
                  <th>Unit used</th>
                  <th>Cost</th>
                </tr>
              </thead>
              <tbody>
                {{#each item.ingredients}}
                <tr>
                  <td>{{id}}</td>
                  <td>{{desc}}</td>
                  <td>{{quantity}}</td>
                  <td>{{portionUsed}}</td>
                  <td>$ {{cost}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Sale price</label>
          <input type="text" name="salesPrice" class="form-control" placeholder="Sale price" value="{{item.salesPrice}}" readonly>
        </div>
        <div class="form-group">
          <label>Prep item cost</label>
          <input type="text" class="form-control" placeholder="Prep item cost" readonly>
        </div>
        <div class="form-group">
          <label>Ingredient cost</label>
          <input type="text" class="form-control" placeholder="Ingredient cost" readonly>
        </div>
        <div class="form-group">
          <label>Tax (10%)</label>
          <input type="text" class="form-control" placeholder="Tax" readonly>
        </div>
        <div class="form-group">
          <label>Contribution</label>
          <input type="text" class="form-control" placeholder="Contribution" readonly>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Submit</button> 
      </div>
    </div>
  </form>
</template>