<template name="jobItemDetail">
  <div class="row">
    <div class="col-md-8 col-sm-8 col-lg-8">
      <div class="form-group">
        <h3>
        {{item.name}}
        </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-8 col-lg-8">
      {{#if item.recipe}}
      <div class="form-group">
        <label>Recipe</label>
        <div class="panel panel-default">
          <div class="panel-body">
            {{{item.recipe}}}
          </div>
        </div>
      </div>
      {{/if}}
      <div class="form-group">
        <label>
          Ingredients used
        </label>
        <div>
          <table class="table table-hover thumbnail">
            <thead>
              <tr>
                <th>Supplier's Code</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Cost ($)</th>
              </tr>
            </thead>
            <tbody>
              {{#each item.ingredients}}
                {{> ingredientItemView}}
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-lg-3 form-inline">
      <div class="form-group">
        <label>Type: </label>
        <p class="form-control non-edit">{{item.type}}</p>
      </div>
      <br>
      <div class="form-group">
        <label>Active Time :</label>
        <p class="form-control non-edit">{{secondsToMinutes item.activeTime}} Mins</p>
      </div>
      <br>
      <div class="form-group">
        <label>Portions :</label>
        <p class="form-control non-edit">{{item.portions}}</p>
      </div>
      <br>
      <div class="form-group">
        <label>Labour Cost ($): </label>
        <p class="form-control non-edit">$ {{item.labourCost}}</p>
      </div>
      <br>
      <div class="form-group">
        <label>Cost per Portion ($) :</label>
        <p class="form-control non-edit">$ {{item.prepCostPerPortion}}</p>
      </div>
      <br>
      <div class="form-group">
        <label>Shelf Life: </label>
        <p class="form-control non-edit">{{item.shelfLife}} Days</p>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary editJobItemBtn hidden-print" data-id="{{item._id}}">Edit</button>
      <button type="button" class="btn btn-primary printJobItemBtn hidden-print">Print</button>
    </div>
  </div>
</template>