<template name="dailyShifts">
  <tr>
  {{#each weekDays}}
    <td>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>{{this.day}} - {{this.fMnD}}</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>{{> shiftDetail}}</td>
          </tr>
          <tr>
            <td class="new">
            {{#each shiftsNWorkers}}
              <tr><td>{{> shiftWorker}}</td></tr>
            {{/each}}
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  {{/each}}
  </tr>
</template>