<template name="shiftDetail">
  <td>
    <div>
      <p class="text-muted weekly-info-tag">Sales: </p>
      <p class="text-info weekly-info-tag">{{sales}}</p>
      {{#if addSalesPermission}}
      <a href="#" class="showSubmitSalesModal" data-toggle="modal" style="font-size: 10px">Add sales</a>
      {{else}}
      <a href="#" class="showSubmitSalesModal" data-toggle="modal" style="font-size: 10px">Edit sales</a>
      {{/if}}
    </div>
    <div style="clear: both"></div>
    <div>
      <p class="text-muted weekly-info-tag">Wages: </p> 
      <p class="text-info weekly-info-tag">[$200]</p>
    </div>
    <div style="clear: both"></div>
    <div>
      <p class="text-muted weekly-info-tag">Total hours planned: </p> 
      <p class="text-info weekly-info-tag">[24]</p>
    </div>
    <div style="clear: both"></div>
    <div>
      <p class="text-muted weekly-info-tag">Hours actual: </p> 
      <p class="text-info weekly-info-tag">[26]</p>
    </div>
  </td>
</template>