<template name="innerHeader">
  <!-- <h1>Kitchen app</h1> -->
  <div class="row">
    <div class="col-md-4 left">
      <button type="button" class="btn btn-warning">Prev</button>
      <button type="button" class="btn btn-warning">Next</button>
      <button type="button" class="btn btn-warning">Today</button>
    </div>
    <div class="col-md-4 center">
      <h4>Nov 9 - 15, 2014</h4>
    </div>
    <div class="col-md-4 right">
      <a href="/" class="btn btn-primary">Day</a>
      <a href="/schedule" class="btn btn-primary">Shift</a>
    </div>
  </div>
</template>