<template name="innerHeader">
  <div class="row">
    <div class="col-md-4 left">
      <button type="button" class="btn btn-warning btn-sm" id="prevDay">Prev</button>
      <button type="button" class="btn btn-warning btn-sm" id="today">Today</button>
      <button type="button" class="btn btn-warning btn-sm" id="nextDay">Next</button>
    </div>
    <div class="col-md-3 center">
      <h4><a href="">{{dateTitle}}</a></h4>
    </div>
    <div class="col-md-5 right">
      <a href="/" class="btn btn-primary btn-sm">Daily View</a>
      <!-- <a href="/schedule" class="btn btn-primary btn-sm">Shift View</a> -->
      <a href="" class="btn btn-primary btn-sm" id="week">Weekly View</a>
    </div>
  </div>
</template>