<template name="innerHeader">
  <div class="row">
    <div class="col-md-4 left">
      <button type="button" class="btn btn-warning disabled">Prev</button>
      <button type="button" class="btn btn-warning disabled">Next</button>
      <button type="button" class="btn btn-warning disabled">Today</button>
    </div>
    <div class="col-md-4 center">
      <h4>[{{dateTitle}}]</h4>
    </div>
    <div class="col-md-4 right">
      <a href="/" class="btn btn-primary">Day</a>
      <a href="/schedule" class="btn btn-primary">Shift</a>
    </div>
  </div>
</template>