<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <title>Hero Chef</title>
</head>

<body class="top-navigation">
  <!-- ADD JOB ITEM-->
  <div class="modal fade" id="addJobItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> submitJobItem}}
  </div>
  <!-- /ADD JOB ITEM -->

  <!-- EDIT INGREDIENT-->
  <div class="modal fade" id="editIngredientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> render component = 'editIngredientItem'}}
  </div>
  <!-- /EDIT INGREDIENT -->

  <!-- ADD CATEGORY -->
  <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> render component = 'addNewCategory'}}
  </div>
  <!-- /ADD CATEGORY  -->

  <!-- SHOW MENUS LIST -->
  <div class="modal fade" id="showMenusList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> render component = 'showMenusList'}}
  </div>
  <!-- /SHOW MENUS LIST  -->
</body> 