<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>kitchen</title>
</head>

<body>
  <!-- SUBMIT JOB -->
  <div class="modal fade" id="submitJobModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> submitJob}}
  </div>
  <!-- /SUBMIT JOB -->

  <!-- JOB PROFILE -->
  <div class="modal fade" id="jobProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> jobProfile}}
  </div>
  <!-- /JOB PROFILE -->

  <!-- SUBMIT SHIFT -->
  <div class="modal fade" id="submitShiftModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> submitShift}}
  </div>
  <!-- /SUBMIT SHIFT -->

  <!-- SHIFT PROFILE -->
  <div class="modal fade" id="shiftProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> shiftProfile}}
  </div>
  <!-- /SHIFT PROFILE -->

  <!-- SUBMIT WORKER -->
  <div class="modal fade" id="submitWorkerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> submitWorker}}
  </div>
  <!-- /SUBMIT WORKER -->

  <!-- WORKER PROFILE -->
  <div class="modal fade" id="workerProfileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> workerProfile}}
  </div>
  <!-- /WORKER PROFILE-->

  <!-- ADD SALES -->
  <div class="modal fade" id="addSales" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> submitSales}}
  </div>
  <!-- /ADD SALES -->

   <!-- EDIT SALES -->
  <div class="modal fade" id="editSales" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> editSales}}
  </div>
  <!-- /EDIT SALES -->

  <!-- ADD WORKER TYPE-->
  <div class="modal fade" id="addWorkerTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> submitWorkerType}}
  </div>
  <!-- /ADD WORKER TYPE -->

  <!-- ADD JOB TYPE-->
  <div class="modal fade" id="addJobTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> submitJobType}}
  </div>
  <!-- /ADD JOB TYPE -->

  <!-- ADD MENU ITEM-->
  <div class="modal fade" id="addMenuItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> submitMenu}}
  </div>
  <!-- /ADD MENU ITEM -->

  <!-- ADD INGREDIENT-->
  <div class="modal fade" id="addIngredientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> submitIngredient}}
  </div>
  <!-- /ADD INGREDIENT -->

  <!-- ADD JOB ITEM-->
  <div class="modal fade" id="addJobItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> submitJobItem}}
  </div>
  <!-- /ADD JOB ITEM -->
</body> 