<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>kitchen</title>
</head>

<body>
  <!-- SUBMIT JOB -->
  <div class="modal fade" id="submitJobModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> submitJob}}
  </div>
  <!-- /SUBMIT JOB -->

  <!-- JOB PROFILE -->
  <div class="modal fade" id="jobProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> jobProfile}}
  </div>
  <!-- /JOB PROFILE -->

  <!-- SUBMIT SHIFT -->
  <div class="modal fade" id="submitShiftModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> submitShift}}
  </div>
  <!-- /SUBMIT SHIFT -->

  <!-- SHIFT PROFILE -->
  <div class="modal fade" id="shiftProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> shiftProfile}}
  </div>
  <!-- /SHIFT PROFILE -->

  <!-- SUBMIT WORKER -->
  <div class="modal fade" id="submitWorkerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> submitWorker}}
  </div>
  <!-- /SUBMIT WORKER -->

  <!-- WORKER PROFILE -->
  <div class="modal fade" id="workerProfileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> workerProfile}}
  </div>
  <!-- /WORKER PROFILE-->

</body> 