<template name="nav">
  <div class="row">
    <div class="col-md-12 settings-buttons">
      <button type="button" class="btn btn-info" id="addJob" data-toggle="modal">Add Job</button>
      <button type="button" class="btn btn-info" id="addShift" data-toggle="modal">Add Shift</button>
      <button type="button" class="btn btn-info" id="addWorker" data-toggle="modal">Add Worker</button> 
    </div>
  </div>

  <div class="modal fade" id="submitJobModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> submitJob}}
  </div>

   <div class="modal fade" id="submitShiftModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> submitShift}}
  </div>

  <div class="modal fade" id="submitWorkerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> submitWorker}}
  </div>

  <div class="modal fade" id="jobProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> jobProfile}}
  </div>
</template>