<template name="showIngredientsList">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 120%">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Select Ingredients</h4>
      </div>
      <form class="form-horizontal" role="form" id="newJob">
        <div class="modal-body">
          <div class="row">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Code</th>
                  <th>Description</th>
                  <!-- <th>Portion Ordered</th> -->
                  <th>Unit Size</th>
                  <th>Cost per Unit</th>
                  <th>Portion used</th>
                  <th>Quantity</th>
                  <th>Action</th>
                </tr>
              </thead>
             <tbody>
                {{#each ingredientsList}}
                  <tr class="info">
                    <td><a href="" data-toggle="modal" class="editIngredient">{{_id}}</a></td>
                    <td>{{description}}</td>
                    <!-- <td>{{unitOrdered}}</td> -->
                    <td>{{unitSize}}</td>
                    <td>{{costPerUnit}}</td>
                    <td>{{portionUsed}}</td>
                    <td><input type="text" name="ingredient_quantity" style="width: 100px" data-id="{{_id}}"/></td>
                    <td><input type="checkbox" data-id="{{_id}}" class="selectedIng" name="selectedIng"></td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add To List</button>
        </div>
      </form>
    </div>
  </div>
</template>