<template name="ingredientsList">
  <table class="table table-condensed">
    <thead>
      <tr>
        {{#if actionPermissionReverse}}
        <th>Action</th>
        {{/if}}
        <th>Code</th>
        <th>Description</th>
        <th>Supplier</th>
        <th>Portion Ordered</th>
        <th>Unit Size</th>
        <th>Cost per Unit ($)</th>
        <th>Portion used</th>
        {{#if actionPermission}}
        <th>Action</th>
        {{/if}}
      </tr>
    </thead>
   <tbody>
      {{#each ingredientsList}}
        {{> ingredientItem}}
      {{/each}}
    </tbody>
  </table>
</template>