<template name="salesForecastView">
  <div class="wrapper wrapper-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5 class="col-md-3">Sales ForeCast {{date}}</h5>
              <div class="margin-right-10">
                <!-- <button class="btn btn-warning btn-xs previousDay">Prev</button> -->
                <button class="btn btn-warning btn-xs today">Today</button>
                <button class="btn btn-warning btn-xs nextDay">Next</button>
              </div>
            </div>
            <div class="table-responsive salesMenuTable">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Menu Item</th>
                    <th>Quantity </th>
                  </tr>
                </thead>
                <tbody>
                  {{> render component='editSalesItem' name="salesForecast"}}
                  {{> render component='salesList' list="newlySubmitted" date=todaysIsoDate name="salesForecast"}}
                </tbody>
              </table>
              <button class="btn btn-primary generateJobs">Generate Jobs</button>
              <button class="btn btn-primary viewGeneratedJobs">View Generated Jobs</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>