<template name="textEditor">
  <!-- <div id="text-editor">
    <div id="toolbar" class="ql-container ql-toolbar">
      <div class="ql-format-group">
        <button type="button" title="Bold" class="btn btn-xs ql-bold ql-format-button">B</button>
        <button type="button" title="Italic" class="btn btn-xs ql-italic ql-format-button">I</button>
      </div>    
    </div>
    <div id="editor">
      <div>Hello World!</div>
      <div>Some initial <b>bold</b> text</div>
      <div><br></div>
    </div>
  </div> -->

  <div id="toolbar" class="ql-container ql-toolbar">
    <div class="ql-format-group">
      <span title="Bold" class="ql-bold ql-format-button"></span>
      <span title="Italic" class="ql-italic ql-format-button"></span>
      <span title="Stike" class="ql-strike ql-format-button"></span>
      <span title="Underline" class="ql-underline ql-format-button"></span>
      <span title="Link" class="ql-link ql-format-button"></span>
      <span title="Bullet" class="ql-bullet ql-format-button"></span>
      <span title="List" class="ql-list ql-format-button"></span>
      <span title="Image" class="ql-image ql-format-button"></span>
    </div>    
  </div>

  <!-- Create the editor container -->
  <div id="editor">
    <div>Hello World!</div>
    <div>Some initial <b>bold</b> text</div>
    <div><br></div>
  </div>
</template>