<template name="menuItemDetail">
  <div class="row margin-left20">
    <form>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Enter Name for the menu">
      </div>
      <div class="form-group">
        <label>Tag
          <button class="btn btn-xs">+</button>
        </label>
        <input type="text" class="form-control" placeholder="tag">
      </div>
       <div class="form-group">
        <label>Instructions</label>
        <textarea class="form-control" rows="3"></textarea>
      </div>
       <div class="form-group">
        <label>Prep items used
          <button class="btn btn-xs">+</button>
        </label>
        <select class="form-control">
          <option>Omlet</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label>Ingredients used
          <button class="btn btn-xs">+</button>
        </label>
        <select class="form-control">
          <option>Omlet</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label>Sale price</label>
        <input type="text" class="form-control" placeholder="Sale price">
      </div>
      <div class="form-group">
        <label>Ingredients used</label>
        <input type="text" class="form-control" placeholder="Ingredients used">
      </div>
      <div class="form-group">
        <label>Prep item cost</label>
        <input type="text" class="form-control" placeholder="Prep item cost">
      </div>
      <div class="form-group">
        <label>Ingredient cost</label>
        <input type="text" class="form-control" placeholder="Ingredient cost">
      </div>
      <div class="form-group">
        <label>Tax</label>
        <input type="text" class="form-control" placeholder="Tax">
      </div>
      <div class="form-group">
        <label>Contribution</label>
        <input type="text" class="form-control" placeholder="Contribution">
      </div>
      <div class="form-group">
        <label>Image</label>
        <input type="file">
        <p class="help-block">Example block-level help text here.</p>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</template>