<template name="menuItemDetail">
  <div class="row">
    <div>Name</div>
    <p>Tag</p>
  </div>
  <div>
    <textarea>Instructions</textarea>
  </div>
  <div>
    <p>Prep items used</p>
    <div></div>
  </div>
  <div>
    <p>Ingredients used</p>
    <div></div>
  </div>
  <div>
    <div>
      <div>Sale price:</div>
      <div>Prep item cost: </div>
      <div>Ingredient cost:</div>
      <div>Tax:</div>
      <div>Contribution:</div>
    </div>
  </div>
  <div><img src="" alt="image"></div>
</template>