<template name="jobItem">
  <div class="item jobitem {{status}}" data-id="{{_id}}" data-title="{{status}}" style="height: {{jobHeight}}px">
    <a href="" class="job-profile" data-toggle="modal">{{name}}</a>
    {{#if changeStatePermission}}
    <div class="set-job-status finish" data-toggle="tooltip" data-placement="top"  title="Change job state" data-state="finish"></div>
    <div class="set-job-status pause" data-toggle="tooltip" data-placement="top"  title="Change job state" data-state="pause"></div>
    <div class="set-job-status cook" data-toggle="tooltip" data-placement="top"  title="Change job state" data-state="cooking"></div>
    <div class="set-job-status start" data-toggle="tooltip" data-placement="top"  title="Change job state" data-state="start"></div>
    {{/if}}
  </div>
</template>