<template name="menuItemEditView">
  <div class="wrapper wrapper-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Menu Edit</h5>
            </div>
            {{> render component = 'editMenuItem'}}
          </div>
        </div>
      </div>
    </div>
  </div> 

  <!-- INGREDIENTS LIST-->
  <div class="modal fade" id="ingredientsListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{> render component = 'showIngredientsList' name="editMenu"}}
  </div>
  <!-- /INGREDIENTS LIST --> 
</template>