<template name="menuItemsListView">



<div id="wrapper">

    <div id="page-wrapper" class="gray-bg">

        <div class="row">
            <div class="col-lg-12">
                <div class="row wrapper gray-bg page-heading">
                    <div class="col-sm-9">
                        <h2>Menus <a href="/menuItem/submit" class="btn btn-xs btn-primary margin-right-10">+</a>  </h2>



                        <ol class="breadcrumb">


                            <li>All</li>
                            <li>Main Menu</li>
                            <li>Catering Menu</li>
                            <li>Add another menu category</li>
                        </ol>
                    </div>

                </div>

                    {{> render component='menuItemsList'}}

            </div>
        </div>


    </div>

</div>


</template>